@mixin card-header {
  h2 {
    font-size: 1.2rem;
    opacity: var(--opacity);
  }
}
.dashboard-section {
  flex: 6;
  .label {
    color: green;
  }
  .total-users-card {
    width: 25%;
    font-family: var(--main-font);
    .row {
      justify-content: space-between;
    }
    @include card-header();
  }
  .user-plan-card {
    font-family: var(--main-font);
    width: 68%;
    .row {
      justify-content: space-between;
    }
    @include card-header();
  }
  footer {
    p {
      padding-bottom: 0.2rem;
      width: 32%;
      font-size: 0.9rem;
      font-family: var(--nav-font);
      border-bottom: 1px solid gray;
    }
  }
}
