@mixin card-header {
  h2 {
    font-size: 1.1rem;
    opacity: var(--opacity);
    letter-spacing: 1px;
  }
}
.dashboard-section {
  flex: 6;
  .label {
    color: rgb(148, 219, 148);
  }
  .total-users-card {
    width: 25%;
    font-family: var(--main-font);
    .row {
      justify-content: space-between;
    }
    @include card-header();
  }
  .user-plan-card {
    font-family: var(--main-font);
    width: 68%;
    .row {
      justify-content: space-between;
    }
    @include card-header();
  }
  footer {
    p {
      padding-bottom: 0.2rem;
      width: 30%;
      font-size: 0.9rem;
      font-family: var(--nav-font);
      border-bottom: 1px solid rgb(194, 194, 194);
    }
  }
  .featured-users-card {
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-family: var(--main-font);
    @include card-header();
  }
}
