@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap");
:root {
  --bg: #151a30;
  --bg-variant: #222b45;
  --brand-color: #8884d8;
  --main-font: "Nunito", sans-serif;
  --nav-font: "Montserrat", sans-serif;
  --box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  --transition: 0.4s;
  --title-size: 1.2rem;
  --border-color: #293351;
  --opacity: 0.5;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
.row {
  display: flex;
  flex-wrap: wrap;
  .align-items-center {
    align-items: center;
  }
  .justify-content-center {
    justify-content: center;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}
.card {
  background-clip: border-box;
  border: 0.5px solid var(--border-color);
  border-radius: 0.35rem;
  background: var(--bg-variant);
  padding: 0 1em;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 1.5em 1.5em -1.5em rgba(#000000, 0.1);
}
